.series-nav-label {
  color: var(--secondary);
  font-weight: normal;
}

.series-nav-separator {
  color: var(--tertiary);
}

.series-nav-list {
  margin: 0;
  padding-inline-start: var(--gap);
}

.series-nav-list li::marker {
  color: var(--secondary);
}

.series-nav a {
  color: var(--secondary);
  text-decoration: none;
}

.series-nav a.series-nav-name {
  color: var(--primary);
  font-weight: normal;
  text-decoration-style: dotted;
}

.series-nav a:hover {
  color: var(--primary);
  text-decoration-line: underline;
  text-decoration-color: currentColor;
}
