{{- if .Store.Get "hasImage" -}}
{{ partial "images/lightbox.html" . }}
{{- end -}}

{{ if .Store.Get "hasMath" }}
{{ partial "maths/style.html" . }}
{{ partial "maths/copy-tex.html" . }}
{{ end }}

{{ if .Store.Get "hasTikz" }}
{{ partial "diagrams/tikz.html" . }}
{{ end }}

{{ if .Store.Get "hasMermaid" }}
{{ partial "diagrams/mermaid.html" . }}
{{ end }}

{{ if .Store.Get "hasAbc" }}
{{ partial "diagrams/abc.html" . }}
{{ end }}

{{ if .Store.Get "hasJsxgraph" }}
{{ partial "diagrams/jsxgraph.html" . }}
{{ end }}
