<script defer
  src="https://cdn.jsdelivr.net/npm/abcjs@6.6.3/dist/abcjs-basic-min.min.js"
  integrity="sha384-1NMuKXmc3uoL9DgYl4xk4m3wh/VSSJ1jKVsNjFu882heXeNSw4jT87kw5VCA7ELC"
  crossorigin="anonymous">
</script>
{{- $script := resources.Get "js/diagrams/abc.js" | minify | fingerprint -}}
<script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{- $style := resources.Get "css/diagrams/abc.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
