<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/jsxgraph@1.12.2/distrib/jsxgraph.css"
  crossorigin="anonymous"
/>
<script defer
  src="https://cdn.jsdelivr.net/npm/jsxgraph@1.12.2/distrib/jsxgraphcore.js"
  crossorigin="anonymous"
></script>
{{- $script := resources.Get "js/diagrams/jsxgraph.js" | minify | fingerprint -}}
<script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{- $style := resources.Get "css/diagrams/jsxgraph.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
