<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@drgrice1/tikzjax@1.0.0-beta24/dist/fonts.css"
  integrity="sha384-PbIsOsezZZmSgWhxv4UD3TQAV15oHGgZd/5NYY20c3YdHkFAJx7Ye3Mgnv1KHxBl"
  crossorigin="anonymous"
>
<script defer
  src="https://cdn.jsdelivr.net/npm/@drgrice1/tikzjax@1.0.0-beta24/dist/tikzjax.js"
  integrity="sha384-noUV/PegiCqC0SabPZ4t6tyU3kEAuC2UHPfaf1/un55taPy/CZlvJYS3MubK12IT"
  crossorigin="anonymous">
</script>
<script>
function renderDiagram(source) {
  const script = document.createElement('script');
  script.type = 'text/tikz';
  const code = source.textContent.trim();
  script.textContent = code;

  const container = document.createElement('div');
  container.className = 'tikz-container';
  container.appendChild(script);
  source.replaceWith(container);
}

document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll('pre.tikz').forEach(renderDiagram);
})
</script>
<style>
.tikz-container {
  width: fit-content;
  margin: var(--content-gap) auto;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
html[data-theme="dark"] .tikz-container svg {
  filter: invert(1) hue-rotate(180deg);
}
</style>
