<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@drgrice1/tikzjax@1.0.0-beta24/dist/fonts.css"
  integrity="sha384-PbIsOsezZZmSgWhxv4UD3TQAV15oHGgZd/5NYY20c3YdHkFAJx7Ye3Mgnv1KHxBl"
  crossorigin="anonymous"
>
<script defer
  src="https://cdn.jsdelivr.net/npm/@drgrice1/tikzjax@1.0.0-beta24/dist/tikzjax.js"
  integrity="sha384-noUV/PegiCqC0SabPZ4t6tyU3kEAuC2UHPfaf1/un55taPy/CZlvJYS3MubK12IT"
  crossorigin="anonymous">
</script>
{{- $script := resources.Get "js/diagrams/tikz.js" | minify | fingerprint -}}
<script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{- $style := resources.Get "css/diagrams/tikz.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
